<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://sample1app.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>sample1app.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>sample1app</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$sample1app</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ShoppingListsContext" Order="1" Enabled="True">
          <Destination Path="Data Source=apka1trialserver.database.windows.net;Initial Catalog=ListerDB;Persist Security Info=True;User ID=tomasz;Password=Junior77" Name="Data Source=apka1trialserver.database.windows.net;Initial Catalog=ListerDB;Persist Security Info=True;User ID=tomasz;Password=Junior77;MultipleActiveResultSets=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="ListerWebServices.Models.ShoppingListsContext, ListerWebServices" MigrationConfiguration="ListerWebServices.Migrations.Configuration, ListerWebServices" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="ShoppingListsContext-Web.config Connection String">
      <ParameterValue>Data Source=apka1trialserver.database.windows.net;Initial Catalog=ListerDB;Persist Security Info=True;User ID=tomasz;Password=Junior77;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>